
# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cobertura / testing
coverage/

# Build / salida
/dist/
/build/
/.next/

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
